# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\中科韬睿\JSP\java-highClass\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
